body{
	--font-primary: "gg sans", Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-display: "gg sans", Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	--font-headline: "gg sans", Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}